
.mat-form-field-placeholder{
  color: rgba(0,0,0,.25) !important;
}
.mat-input-underline {
    background-color: rgba(0, 0, 0, 0.11) !important;
}

.mat-form-field-underline {
    background-color: rgba(0, 0, 0, 0.12) !important;
}

input, select{
  width: 100% !important;
}


.containerX {
  padding: 5px 15px;
}


.container {
  margin: 10px 0;
}

.full_width {
  width: 100%;
}

.full_width_parent {
  padding: 0 1em;
}

.full_width_select {
  margin: 0.5em 0 !important;
  padding: 0.5em 0;
}

.custom_button {
  margin-right: 1em;
}

.custom_card {
  padding: 0px;
  margin: 0.5em 0;
}
.record_indicate{
  padding-left: 1em;
}

.item {
  h3 {
    margin-bottom: 0px !important;
  }

  small {
    color: #999;
  }
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  overflow: auto;
}

.brok_custom{
  margin-bottom: 1em;
}

.for_custom_fab{
  padding: 0px;
  width: 7px;
}

.tg-check{
  text-align: center;
  height: 30px;

}
.tg {
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom-color:rgba(0,0,0,.12);
  margin: 0px auto;
  width: 100%;
  td {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 12px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 0px;
    overflow: hidden;
    word-break: normal;
    border-color: #ccc;
    color: #555;
    background-color: #fff;
    border-top-width: 1px;
    border-bottom-width: 1px;
  }
  th {

    font-size: 12px;
    font-weight: normal;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    padding: 10px 5px;
    border-style: solid;
    border-width: 0px;
    overflow: hidden;
    word-break: normal;
    border-color: rgba(0,0,0,.12);
    color: rgba(0,0,0,0.54);
    background-color: #fff;
    border-top-width: 1px;
    border-bottom-width: 1px;
  }
  .tg-yw4l {
    vertical-align: middle;
    height: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .tg {
    width: auto !important;
    col {
      width: auto !important;
    }
  }
  .tg-wrap {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: auto 0px;
  }
}
